.button-back {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #19cbac;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    bottom: 13px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #19cbac;
  }

  &:hover {
    color: #ff4d51;
  }

  &:hover.button-back::after {
    background-color: #ff4d51;
  }
}
