.person-reg-page {
  padding: 37px 153px 19px 55px;
  width: 889px;
  // height: 300px;
  // overflow: scroll;

  &__descr {
    font-size: 11px;
    letter-spacing: 0.2px;
    margin-bottom: 27px;
  }

  .button {
    margin-left: 271px;
    margin-top: 17px;
  }
}
