.start-reg-page {
  &__box {
    position: relative;
    margin: 70px auto 0;
    padding: 65px 0px 0px 60px;
    width: 420px;
    height: 334px;

    .button {
      position: absolute;
    }
  }

  &__title {
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    font-size: 14px;
  }

  &__radio-btns {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin-left: 45px;
    letter-spacing: 0.7px;
  }

  &__form {
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: 0.8px;
  }

  &__label {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
  }

  &__input {
    cursor: pointer;
  }

  &__load-box {
    margin-bottom: 40px;
    display: flex;
  }

  &__load-label {
    cursor: pointer;
    position: relative;
  }

  &__load-title {
    color: #19cbac;
    position: absolute;
    padding: 10px;
    top: -11px;
    left: 10px;
    z-index: 10;
    background-color: #fff;
  }

  &__load-input {
    transition: all 0.3s;

    &::after {
      content: '';
      width: 1px;
      height: 12px;
      position: absolute;
      bottom: 2px;
      right: -10px;
      background-color: #d5d5d5;
    }

    &:hover {
      border-color: transparent;
    }
  }

  &__load-text {
    letter-spacing: 0.4px;
  }
}
